.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

h1 {
  color: Purple;
}

h1, h2, h3, p, div, form {
  padding: 10px;
  margin: 10px;
  font-family: Times New Roman;
}

#logout {
  display: inline-block;
  float: right;
}

body {
  font-family: Times New Roman;
}

h2, h3 {
  color: DarkBlue;
}

#follow-button {
  color: pink;
}

