<div id="create-new-tweet">
    <h5>Create a new tweet:</h5>
        <form id="form-new-tweet" role="form">
            <div class="form-group">
              <textarea class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
