<h1>Update A Tweet</h1>
<form id="update-tweet" method="POST" action="/tweets/<%= @tweet.id %>">
  <input type="hidden" name="_method" value="patch">
  <input class="textbox" type="text" name="tweet[tweet_text]" value="<%= @tweet.tweet_text %>" maxlength="140">
  <input type="submit" value="Update Tweet">
</form>



