<!DOCTYPE HTML>
<head>
    <title>Web Page Having A Form</title>
    <style type="text/css">
        body {
            background-image: url("https://image.freepik.com/free-vector/gray-texture-background_23-2147610644.jpg");
            margin: 0;
            padding: 0;
        }
        h1 {
            color : #000000;
            text-align : center;
            font-family: "SIMPSON";
        }
        h3 {
            color : #000000;
            text-align : center;
            font-family: "SIMPSON";
        }
        form {
            width: 300px;
            margin: 0 auto;
        }
        .buttonHolder {
            text-align: center;
            margin-left: 0cm;
        }
        .registration-login-choice
        {
            text-align: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <section class="errors">
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </section>

    <div class="tweets">
        <ul>
          <% @tweets.each do |tweet| %>
            <li><%= tweet.content %></li>
          <% end %>
        </ul>
    </div>


</body>
