<div class="container">

  <center><h1>Twitter Clone</h1></center>
  <h4><a href="/users/current_user.id">Profile</a></h4>

  <form action="/tweets" method="post">
    <label for="tweet[content]">Create a Tweet:</label>
    <br>
    <input type="text" name="tweet[content]" placeholder="enter your tweet here...">
    <input type="submit" value="submit">
  </form>
</div>