<form action="/tweets" method="post">
  <div class="form-group">
    <label for="tweet">New Tweet</label>
    <input type="text" class="form-control" name="message"  placeholder="message">
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Tweet</button>
</form>
