<form id="newTweetForm" action="/tweets"  method="post">
  <div>
    <input type="text" name="tweet[subject]" placeholder="Subject">
  </div>

  <div>
    <input type="text" name="tweet[content]" placeholder="Content">
  </div>

  <div>
    <input type="text" name="tweet[username]" placeholder="Username">
  </div>

  <div>
    <input type="submit">
  </div>
</form>
