<h1>Register</h1>

<form id="new-user" method="POST" action="/users">
  <input type="text" name="user[full_name]" placeholder="Full Name">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="Email Address">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" name="submit">
</form>
