<h1> <%=@user.username %>  </h1>
<h4> Followers: <%= @user.followers.length %><br>
<h4> Following: <%= @user.followees.length %><br><br>

<div name="container">
  <% @tweets.each do |tweet| %>
    <% if user_tweet?(tweet, @user) %>
      <p><%= tweet.body %> </p>
    <% end %>
  <% end %>
</div>

<br><br><br>
<a href="/">Home</a><br>
<a href="/sessions/logout"> Log Out</a>
