<%= erb :"users/_follows", layout: false, locals: {user: @user} %>

<div name="container">
  <% @tweets.each do |tweet| %>
    <% if user_tweet?(tweet, @user) %>
      <p><%= tweet.body %> </p>
    <% end %>
  <% end %>
</div>

<br><br><br>
<a href="/">Home</a><br>
<a href="/sessions/logout"> Log Out</a>
