<h1> <%=@other_user.username %>  </h1>

<div name="container">
  <% @tweets.each do |tweet| %>
    <% if other_user_tweet?(@other_user) %>
      <p><%= tweet.body %> </p>
    <% end %>
  <% end %>
</div>

<br><br><br>
<a href="/">Home</a><br>
<a href="/sessions/logout"> Log Out</a>
