<div>
<h2>Edit Tweet</h2>
<form action="/posts/<%=@post.id%>/edit" method="put">
<input type="hidden" action="post">
  <label for="text" name="body" >Text:</label>
  <input type="text" name="body"  value="<%= @post[:body]%>">
  <input type="submit" value="Submit">
</form>
</div>