<h1>All Tweets</h1>

<div class="posts">
  <ul>
    <li> 1 - test - <a href="/posts/1">Show</a></li>
    <% @posts.each do |post| %>
      <li><%= "#{post.id} - #{post.user_id} - #{post.tweet}" %> - <a href="/posts/<%= post.id %>">Show</a></li>

    <% end %>

  </ul>
</div>

