<h1>All Tweets</h1>

<div class="posts">
  <ul>
    <li>ID_PLACEHOLDER - USERNAME PLACE HOLDER - LINK PlaceHOLder</li>
    <li>ID_PLACEHOLDER - USERNAME PLACE HOLDER - LINK PlaceHOLder</li>
    <li>ID_PLACEHOLDER - USERNAME PLACE HOLDER - LINK PlaceHOLder</li>
    <li> 1 - test - <a href="/posts/1">Show</li>
  </ul>
</div>

