<h1> Welcome to Thomas's Fake Twitter! </h1>

<!-- Better way to get this information into scope? -->
<% current_user %>

<nav>
  <% if logged_in? %>
    <h3> Current User </h3>
    <%= @current_user.username %> <br><br>
    <a href="/tweets/new"> New Tweet</a><br>
    <a href="/sessions/logout"> Log Out</a>
  <% else %>
    <a href="/sessions/new"> Login </a> <p>
    <a href="/users/new"> Register!</a>
  <% end %>
</nav>

<div name="container">
  <% @tweets.each do |tweet| %>
    <p><%= tweet.body %> </p>
    <p><%= tweet.user.username %> </p>
  <% end %>
</div>
