<html>
<head>
  <title>Welcome To Twitter!</title>
</head>
<body>
  <h1>WELCOME TO TWITTER!!!</h1>
  <a href="/users/new" class="signup button">Sign Up</a>
  <a href="/sessions/new" class="login button">Log In</a>
  <a href="/" class="index">Home</a>
</body>
</html>
