<div class="container">
  <h1>DBC Twitter Clone </h1>

  <%if logged_in? %>
    <h2>Welcome, <%= @current_user.first_name %></h2>
    <a href="/users/<%=current_user.id%>">Your Page</a>
    <form action="/sessions/logout" method="post"> <br><br>
      <input type="submit" value="Log Out">
    </form>
  <% else %>
    <h3><a href="/users/new">Register</a></h3>
    <h3><a href="/sessions/new">Log in</a></h3>
  <% end %>
</div>
