  <h1>Welcome to Twitter!</h1>
<div id="newTweetFormContainer">

</div>

<div>
    <ul>
  <% @tweets.each do |tweet| %>
    <%= erb :'tweets/_tweet', locals: {tweet_object: tweet} %>
  <% end %>
    </ul>
</div>
