<!DOCTYPE HTML>
<head>
    <title>Web Page Having A Form</title>
    <style type="text/css">
        body {
            background-image: url("https://image.freepik.com/free-vector/gray-texture-background_23-2147610644.jpg");
            margin: 0;
            padding: 0;
        }
        h1 {
            color : #000000;
            text-align : center;
            font-family: "SIMPSON";
        }
        h3 {
            color : #000000;
            text-align : center;
            font-family: "SIMPSON";
        }
        form {
            width: 300px;
            margin: 0 auto;
        }
        .buttonHolder {
            text-align: center;
            margin-left: 0cm;
        }
        .registration-login-choice
        {
            text-align: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to Twitter clone!</h1>
        <div class="registration-login-choice">
          <form id="new-user-choice" method="GET" action="/">
            <button type="submit">Sign up</button>
          </form>
                <br>
          <form id="login-user-choice" method="GET" action="/">
            <button type="submit">Sign in</button>
          </form>
        </div>

          <form id="signup-form" action="/users/signup" method="post">
               <table>
                <tr>
                 <td><b>Name:</b> </td> <td><input type="text" name="name"></td>
                </tr>
                <tr>
                 <td><b>Username:</b> </td> <td><input type="text" name="username"></td>
                </tr>
                <tr>
                 <td><b>Email:</b> </td> <td><input type="email" name="email"></td>
                </tr>
                <tr>
                 <td><b>Password:</b> </td> <td><input type="password" name="password"></td>
                </tr>
               </table>
               <!-- <br> -->
               <div class="buttonHolder">
                        <input type="submit" value="Sign up">
               </div>
          </form>

          <form id="login-form" action="/users/login" method="post">
               <table>
                <tr>
                 <td><b>Username: </b></td> <td><input type="text" name="username"></td>
                </tr>
                <tr>
                 <td><b>Password: </b></td> <td><input type="password" name="password"></td>
                </tr>
               </table>
           <br>
           <div class="buttonHolder">
                    <input type="submit" value="Sign in">
           </div>
          </form>

     <h3><a href="/">Home</a></h3>


</body>
