
<h1>All the users</h1>
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Sign In</a>

<ul>
  <% @users.each do |user| %>
  <li><%= user.username %>
    <a href="/users/<%= user.id %>">Profile Page</a>
    <a href="/users/<%= user.id%>/edit"></a>
    <form action="/users/<%= user.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </li>
  <% end %>
</ul>


