
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>Tweeter</title>
</head>
<body>
  <nav>
  <style>
    form { display: inline; }
  </style>

  <a href="/">Home</a>

  <% if session[:user_id] %>
    <%= erb :'sessions/logout' %>
    <h3>Welcome to Tweeter</h3>
    <a href="/tweets/new">Click here to Tweet</a><br>
  <% else %>
    <h3>Login or Register Below</h3>
    <a href="/users/new">Register</a><br>
    <a href="/sessions/new">Login</a>
  <% end %>

</nav>
  <%= yield %>
</body>
</html>
